<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite1" verbose ="1" >  
	<test name="ReadABook">
		<parameter name="browser"  value="chrome"/>
    	<classes>
      		<class name="wattpadtest.ReadABook"/>
   		 </classes>
 	 </test> <!-- Test -->
</suite> <!-- Suite -->
